<p>home works!</p>
<p>{{name}}</p>
<p>{{age}}</p>
<!-- <input value="{{name}}">
<br/>
<input [value]="name" title="day la {{name}}"> -->
<input type="text" [(ngModel)] ="name">

<input type="text" [(ngModel)] ="age">

<button (click)="reset()">reset ten</button>


<h2 *ngIf="age <= 18; then tre; else gia"> tre qua</h2>

<ng-template #tre>ban tre qua</ng-template>
<ng-template #gia>ban gia qua</ng-template>


<div *ngFor="let i of traiCay; let j = index">
    <li>{{j}}:{{i}}</li>
</div>


<table class="table2">
    <tr>
        <th>ten </th>
        <th>gia </th>
      </tr>
    <tr *ngFor="let i of traiCay; let j = index">
      <td>{{i}}</td>
      <td>{{j+1}}</td>
    </tr>
    <tr>
        <th>ten </th>
        <th>gia </th>
    </tr>
    <tr *ngFor="let i of traiCay2; let j = index">
        <td>{{i.ten | uppercase}}</td>
        <td>{{i.gia}}</td>
        <td>
            <span [ngClass]="{'so-am': i['gia'] < 0 }">
            {{i.gia}}

            </span>
        </td>
        <td *ngIf="i.gia<12">
            ha gia
        </td>
        <td>
            <span>{{i.gia | onsale}}</span>
        </td>
    </tr>
    
  </table>
  <!-- value="{{data.city}}" -->
  <select id="city" (change)="changeCity($event)">
    <option *ngFor="let data of vietnamData" >{{data.city}}</option>
  </select>

  <select style="width: 200px;">
    <option *ngFor="let j of districts">{{j}}</option>
  </select>

  <span> Counter = {{counter}}</span>
<br>
<span> Counter ^ 2 = {{counterBinhPhuong}}</span>